@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white transition-colors duration-300;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .Toastify__toast {
  min-width: 350px;
  max-width: 500px; /* or more, adjust as needed */
  font-size: 14px;
}
  